<div class="contact-block-wrapper">
	<div class="content-left">
		<span class="title mat-display-2"
			>{{ 'SkiCool' | translate }} {{ ' St. Moritz Silvaplana-Surlej, Switzerland' }}</span
		>
		<button mat-flat-button appButtonConfig [type]="'flat'" class="contact-btn" (click)="showContactPopup()">
			<span>{{ 'ContactUs' | translate }}</span>
		</button>
	</div>
	<div class="content-right">
		<div class="info adress">
			Silvaplana-Surlej,<br />
			Via Sturetscha 13, CH 7513, Switzerland<br />
		</div>
		<div class="info email">
			{{ 'ContactBlock.Email' | translate }}: <a class="mat-display-4" href="mailto:info@skicool.ch">info@skicool.ch</a>
		</div>
		<div class="info phone">
			{{ 'ContactBlock.Phone' | translate }}: <a class="mat-display-4" href="tel:+41(0)799152989">+41 (0) 799152989</a>
		</div>
		<div class="info bank">
			{{ 'ContactBlock.BankAccount' | translate }}: Erste Bank - IBAN: AT19 <br />
			2011 1000 0041 8765 - BIC: GIBAATWW <br />
		</div>
	</div>
</div>
