<div class="group-booking-wrapper">
	<h2 class="title">{{ 'BookingGroupLessons' | translate }}</h2>
	<app-text-line [text]="messageDetails"></app-text-line>
	<span class="annotation">{{ 'FillForm' | translate }}</span>
	<div class="form-container">
		<form [formGroup]="groupBookingForm" (ngSubmit)="onSubmit()" class="group-form">
			<p class="double-field">
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.FirstName' | translate }}</mat-label>
					<input matInput formControlName="firstName" />
					<mat-error *ngIf="checkError('firstName', 'required')">{{
						'FormFields.FirstRequired' | translate
					}}</mat-error>
					<mat-error *ngIf="checkError('firstName', 'maxlength')">{{
						'FormFields.FirstNameLength' | translate: { value: '30' }
					}}</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.LastName' | translate }}</mat-label>
					<input matInput formControlName="lastName" />
					<mat-error *ngIf="checkError('lastName', 'required')">{{ 'FormFields.LastRequired' | translate }}</mat-error>
					<mat-error *ngIf="checkError('lastName', 'maxlength')">{{
						'FormFields.LastNameLength' | translate: { value: '30' }
					}}</mat-error>
				</mat-form-field>
			</p>

			<p>
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>{{ 'FormFields.Email' | translate }}</mat-label>
					<input matInput type="email" name="email" ngModel email formControlName="email" />
					<mat-error *ngIf="checkError('email', 'required')">{{ 'FormFields.EmailRequired' | translate }}</mat-error>
					<mat-error *ngIf="groupBookingForm.get('email')?.hasError('email')">{{
						'FormFields.EmailValid' | translate
					}}</mat-error>
					<mat-error *ngIf="checkError('email', 'maxlength')">{{
						'FormFields.EmailLength' | translate: { value: '100' }
					}}</mat-error>
				</mat-form-field>
			</p>

			<p>
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>{{ 'FormFields.PhoneNumber' | translate }}</mat-label>
					<ngx-mat-intl-tel-input
						formControlName="phoneNumber"
						[preferredCountries]="['de', 'us']"
						[enablePlaceholder]="true"
						[enableSearch]="true"
						name="phone"
						#phone
					>
					</ngx-mat-intl-tel-input>
					<mat-hint>{{ 'FormFields.eg' | translate }} {{ phone.selectedCountry?.placeHolder }}</mat-hint>
					<mat-error *ngIf="checkError('phoneNumber', 'required')">{{
						'FormFields.PhoneNumberRequired' | translate
					}}</mat-error>
					<mat-error
						*ngIf="groupBookingForm.controls['phoneNumber'].touched && groupBookingForm.controls['phoneNumber'].invalid"
						>{{ 'FormFields.PhoneNumberValid' | translate }}</mat-error
					>
				</mat-form-field>
			</p>

			<p class="double-field">
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.Language' | translate }}</mat-label>
					<mat-select formControlName="language">
						<mat-option *ngFor="let lang of languages" [value]="lang">{{ lang | translate }}</mat-option>
					</mat-select>
					<mat-error *ngIf="checkError('language', 'required')">{{
						'FormFields.LanguageRequired' | translate
					}}</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.Resort' | translate }}</mat-label>
					<mat-select formControlName="resort">
						<mat-option *ngFor="let resort of resorts" [value]="resort">{{ resort }}</mat-option>
					</mat-select>
					<mat-error *ngIf="checkError('resort', 'required')">{{ 'FormFields.ResortRequired' | translate }}</mat-error>
				</mat-form-field>
			</p>

			<p class="double-field">
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.Discipline' | translate }}</mat-label>
					<mat-select formControlName="discipline">
						<mat-option *ngFor="let discipline of disciplines" [value]="discipline">{{
							discipline | translate
						}}</mat-option>
					</mat-select>
					<mat-error *ngIf="checkError('discipline', 'required')">{{
						'FormFields.DisciplineRequired' | translate
					}}</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.LessonFocus' | translate }}</mat-label>
					<mat-select formControlName="lessonFocus">
						<mat-option *ngFor="let lesson of lessons" [value]="lesson">{{ lesson | translate }}</mat-option>
					</mat-select>
				</mat-form-field>
			</p>

			<p>
				<mat-form-field appearance="outline" class="full-width datepicker">
					<mat-label>{{ 'FormFields.Dates' | translate }}</mat-label>
					<mat-date-range-input [formGroup]="groupBookingForm" [rangePicker]="picker">
						<input matStartDate formControlName="startDate" placeholder="Start date" />
						<input matEndDate formControlName="endDate" placeholder="End date" />
					</mat-date-range-input>
					<mat-hint>{{ 'FormFields.DateFormat' | translate }}</mat-hint>
					<mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
					<mat-date-range-picker #picker></mat-date-range-picker>

					<mat-error *ngIf="checkError('startDate', 'required')">{{
						'FormFields.StartDateRequired' | translate
					}}</mat-error>
					<mat-error *ngIf="checkError('endDate', 'required')">{{
						'FormFields.EndDateRequired' | translate
					}}</mat-error>
					<mat-error *ngIf="groupBookingForm.controls.startDate.hasError('matStartDateInvalid')">{{
						'FormFields.InvalidStartDate' | translate
					}}</mat-error>
					<mat-error *ngIf="groupBookingForm.controls.endDate.hasError('matEndDateInvalid')">{{
						'FormFields.InvalidEndDate' | translate
					}}</mat-error>
				</mat-form-field>
			</p>

			<p class="double-field">
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.NumberChildren' | translate }}</mat-label>
					<input matInput type="number" formControlName="firstName" />
					<mat-error *ngIf="checkError('childNumber', 'required')">{{
						'FormFields.NumberChildrenRequired' | translate
					}}</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.NumberAdults' | translate }}</mat-label>
					<input matInput type="number" formControlName="adultNumber" />
					<mat-error *ngIf="checkError('adultNumber', 'required')">{{
						'FormFields.NumberAdultsRequired' | translate
					}}</mat-error>
				</mat-form-field>
			</p>

			<p class="double-field">
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.DurationLesson' | translate }}</mat-label>
					<mat-select formControlName="lessonDuration">
						<mat-option *ngFor="let duration of lessonDuration" [value]="duration">{{ duration }}</mat-option>
					</mat-select>
					<mat-error *ngIf="checkError('lessonDuration', 'required')">{{
						'FormFields.DurationLessonRequired' | translate
					}}</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.Instructor' | translate }}</mat-label>
					<mat-select formControlName="instructor">
						<mat-option *ngFor="let instructor of instructors" [value]="instructor">
							<div
								style="display: flex; flex-direction: row; align-items: center; justify-content: space-between"
								class="instructor-item"
							>
								<span>{{ instructor }}</span>
								<mat-icon
									(click)="showInstructorPopup(instructor)"
									aria-hidden="true"
									class="help-circle-svg"
									svgIcon="help-circle"
								></mat-icon>
							</div>
						</mat-option>
					</mat-select>
				</mat-form-field>
			</p>

			<p>
				<mat-form-field appearance="outline" class="full-width text-field">
					<mat-label>{{ 'FormFields.RequestAndRequirements' | translate }}</mat-label>
					<textarea matInput formControlName="otherRequirement"></textarea>
					<mat-error *ngIf="checkError('otherRequirement', 'maxlength')">{{
						'FormFields.RequestAndRequirementsLength' | translate: { value: '500' }
					}}</mat-error>
				</mat-form-field>
			</p>

			<app-text-line class="payment-title" [text]="messagePayment"></app-text-line>
			<p class="double-field">
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.PaymentCard' | translate }}</mat-label>
					<input matInput type="number" formControlName="cardNumber" />
					<mat-error *ngIf="checkError('cardNumber', 'required')">{{
						'FormFields.PaymentCardRequired' | translate
					}}</mat-error>
					<mat-error *ngIf="checkError('cardNumber', 'pattern')">{{
						'FormFields.PaymentCardNotCorrect' | translate
					}}</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.Expiration' | translate }}</mat-label>
					<input matInput formControlName="expiration" />
					<mat-error *ngIf="checkError('expiration', 'required')">{{
						'FormFields.ExpirationRequired' | translate
					}}</mat-error>
					<mat-error *ngIf="checkError('expiration', 'pattern')">{{
						'FormFields.ExpirationNotCorrect' | translate
					}}</mat-error>
				</mat-form-field>
			</p>

			<p class="double-field">
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.CVV' | translate }}</mat-label>
					<input matInput type="number" formControlName="cvv" />
					<mat-error *ngIf="checkError('cvv', 'required')">{{ 'FormFields.CVVrequired' | translate }}</mat-error>
					<mat-error *ngIf="checkError('cvv', 'pattern')">{{ 'FormFields.CVVnotCorrect' | translate }}</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.NameOnCard' | translate }}</mat-label>
					<input matInput formControlName="cardName" />
					<mat-error *ngIf="checkError('cardName', 'required')">{{
						'FormFields.NameOnCardRequired' | translate
					}}</mat-error>
					<mat-error *ngIf="checkError('cardName', 'maxlength')">{{
						'FormFields.NameOnCardLength' | translate: { value: '100' }
					}}</mat-error>
				</mat-form-field>
			</p>

			<div class="payment-sum">{{ 'YouPay' | translate }} {{ paymentValue + ' CHF' }}</div>

			<div class="term-condition">
				<mat-checkbox
					class="term-checkbox"
					[(ngModel)]="termAndConditionChecked"
					[ngModelOptions]="{ standalone: true }"
				></mat-checkbox>
				<span class="condition">
					{{ 'TermCondition.AgreeWith' | translate | uppercase }}
					<a class="active-link" routerLink="{{ routes.Contact }}">{{ 'PrivacyPolicy' | translate | uppercase }}</a>
					{{ 'TermCondition.FamiliarWith' | translate | uppercase }}
					<a class="active-link" routerLink="{{ routes.Contact }}"
						>{{ 'TermCondition.Conditions' | translate | uppercase }}
						{{ 'TermCondition.OurSchool' | translate | uppercase }}
					</a>
				</span>
			</div>
			<button mat-flat-button class="book-btn" appButtonConfig [type]="'flat'" [disabled]="!groupBookingForm.valid">
				<span>{{ 'FormFields.Book' | translate }}</span>
				<mat-icon aria-hidden="true" class="booking-svg" svgIcon="booking"></mat-icon>
			</button>
		</form>
	</div>
</div>
