@import 'variables';

.carousel-wrapper {
	padding: 100px;

	.empty {
		height: 70px;
	}

	app-text-line {
		width: 50%;
		display: block;
	}

	.title {
		color: $black-text;
	}

	.card-block {
		margin-top: 45px;
		display: block;
	}

	.navigation {
		margin: 48px 0 10px 0;
		display: flex;
		justify-content: space-between;

		.pagination button {
			width: 63px;
			height: 63px;
			margin-left: 32px;
			border: 0.4px solid $background-click;
			background: none;
			cursor: pointer;
		}
	}

	.item {
		transition: background-color 0.25s ease;
	}

	.discover-btn {
		border: 1px solid black;
		width: 200px;
		color: $text-default-hover;
		background-color: $text-default-3;
		font-size: 18px;
	}

	.item.current {
	}
}

.card-feedback {
	margin-right: 56px;
	padding: 32px;
	width: 515px;
	height: 335px;
	left: 363px;
	top: 242px;
	background: linear-gradient(
			270deg,
			rgba(51, 51, 51, 0.45) 0%,
			rgba(0, 0, 0, 0.380875) 0.01%,
			rgba(51, 51, 51, 0.341718) 20.05%,
			rgba(51, 51, 51, 0.313302) 40.88%,
			rgba(51, 51, 51, 0.256652) 53.38%,
			rgba(51, 51, 51, 0) 100%
		),
		#d2d9e2;
	border: 0.5px solid $background-default;
	border-radius: 4px;
	display: flex;

	.image-block {
		min-width: 110px;
		height: 140px;
		background: $default-background-image;
		margin-right: 26px;
	}

	.feedback-content {
		display: flex;
		flex-direction: column;

		.feedback-name {
			font-weight: 700;
			font-size: 24px;
			line-height: 38px;
			letter-spacing: 0.005em;
			color: $black-text;
		}

		.feedback-text {
			color: $black-text;
		}

		.date {
			margin-top: 14px;
			display: flex;
			align-items: flex-start;
			gap: 10px;

			.feedback-date {
				color: $background-default;
			}
		}
	}
}

.card-partner {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 40px;
	width: 280px;
	height: 336px;
	margin: 30px 40px 48px 0;

	.image-block {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 280px;
		height: 280px;
		background: $default-background-image;
		mix-blend-mode: luminosity;
		border-radius: 4000px;
	}

	.content {
		.partner-name {
			font-weight: 700;
			font-size: 24px;
			line-height: 38px;
			letter-spacing: 0.005em;
			color: $black-text;
		}
	}
}
