<div class="card-wrapper" [style]="cardConfig.direction">
	<div class="article">
		<ng-container *ngIf="cardConfig?.header">
			<app-text-line [text]="cardConfig.header || ''"></app-text-line>
		</ng-container>
		<div class="title mat-display-2">
			{{ cardConfig.title }}
		</div>
		<div class="description mat-display-4">
			{{ cardConfig.description }}
		</div>
		<div *ngIf="cardConfig?.price" class="price mat-display-4" (click)="onClickPriceButton()">
			<span>{{ cardConfig.price }}</span>
			<mat-icon aria-hidden="true" class="booking-svg" svgIcon="booking"></mat-icon>
		</div>
		<div *ngIf="cardConfig?.priceText" class="priceText mat-display-4">
			<span>{{ cardConfig.priceText }}</span>
		</div>
		<button mat-button appButtonConfig [type]="'transparent'" class="discover-btn" (click)="onClickButton()">
			{{ cardConfig.button }}
		</button>
	</div>
	<div class="image-block">
		<img class="image" [src]="cardConfig.imageLink" [alt]="cardConfig.imageAlt" />
	</div>
</div>
