@import 'variables';

.card-wrapper {
	display: flex;
	flex: 1;
	gap: 50px;
	height: 700px;
	min-width: 800px;

	.article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		min-width: 370px;
		padding-left: 55px;

		.app-text-line {
			margin-bottom: 10px;
		}

		.title {
			color: $black-text;
			margin-bottom: 20px;
		}

		.description {
			color: $black-text;
			margin-bottom: 25px;
		}

		.priceText {
			font-family: 'Nunito Sans';
			font-weight: 600;
			font-size: 17px;
			line-height: 27px;
			margin-bottom: 20px;
			text-transform: uppercase;
			color: $black-text;
		}

		.price {
			width: fit-content;
			font-style: italic;
			font-size: 24px;
			color: $background-click;
			margin-bottom: 10px;

			.booking-svg {
				height: 20px;
				margin-left: 10px;
			}
		}

		.price:hover {
			border-bottom: 0.5px solid $background-click;
			cursor: pointer;
		}

		.discover-btn {
			margin-top: 20px;
			width: 248px;
			color: $flat-dark-background !important;
		}
	}

	.image-block {
		width: 50%;
		min-width: 370px;
		max-width: 605px;
	}

	.image {
		width: 100%;
		max-height: 700px;
	}
}
