<div class="card-wrapper" [style]="cardConfig.direction">
	<div class="article">
		<ng-container *ngIf="cardConfig?.header">
			<app-text-line [text]="cardConfig.header || ''"></app-text-line>
		</ng-container>
		<div class="title mat-display-2">
			{{ cardConfig.title }}
		</div>
		<div class="description mat-display-4">
			{{ cardConfig.description }}
		</div>
		<button
			mat-button
			appButtonConfig
			[type]="'transparent'"
			class="discover-btn"
			[routerLink]="cardConfig.routerLink"
			(click)="onClickButton()"
		>
			{{ cardConfig.button }}
		</button>
	</div>
	<div class="image-block">
		<img class="image" [src]="cardConfig.imageLink" [alt]="cardConfig.imageAlt" />
	</div>
</div>
