<div class="slider" [ngStyle]="{ 'background-image': getCurrentSlideUrl() }">
	<div class="desktop-hide" *ngIf="!isDesktop || !isNavTabVisible">
		<mat-icon svgIcon="menu" (click)="toggleDrawer()"></mat-icon>
	</div>
	<div class="slider-content">
		<div class="top-content">
			<ng-content></ng-content>
		</div>
		<div class="bottom-content" *ngIf="!isPageNotFound">
			<ng-container *ngIf="bottomContext === bottomContextTypes.Home">
				<h1 class="mat-headline home-title">{{ 'Ski Cool' }}</h1>
				<p>
					Ski Cool St. Moritz, is an elite snowsports school <br />
					of the Engadin Valley, Switzerland.
				</p>
				<button mat-flat-button class="discover-btn" appButtonConfig [type]="'flat'" routerLink="{{ routes.Booking }}">
					Book now
				</button>
			</ng-container>

			<ng-container *ngIf="bottomContext === bottomContextTypes.Review">
				<h1 class="mat-headline home-title">{{ 'Review' }}</h1>
				<p>
					Ski Cool St. Moritz, is an elite snowsports school <br />
					of the Engadin Valley, Switzerland.
				</p>
			</ng-container>

			<ng-container *ngIf="bottomContext === bottomContextTypes.Booking">
				<div class="booking-section">
					<span class="title">{{
						'You have arrived at the booking page, please select the type of lessons you are interested in'
					}}</span>
					<button mat-button [matMenuTriggerFor]="belowMenu" class="booking-menu mat-display-4">
						<div class="wrapper">
							<span>{{ currentBooking }}</span>
							<div class="booking-icon">
								<mat-icon aria-hidden="false">keyboard_arrow_down</mat-icon>
							</div>
						</div>
					</button>
					<mat-menu class="booking-menu-option" #belowMenu="matMenu" yPosition="below">
						<button
							class="mat-display-4"
							*ngFor="let bookType of bookingOption"
							(click)="onBookingTypeChange(bookType)"
							mat-menu-item
						>
							{{ bookType }}
						</button>
					</mat-menu>
				</div>
			</ng-container>

			<ng-container
				*ngIf="
					bottomContext === bottomContextTypes.PrivateLesson ||
					bottomContext === bottomContextTypes.GroupLesson ||
					bottomContext === bottomContextTypes.Recreation
				"
			>
				<h1 class="mat-headline private-lesson-title">{{ 'Ski Cool' }}</h1>
				<p class="private-lesson-title">
					Ski Cool St. Moritz, is an elite snowsports school <br />
					of the Engadin Valley, Switzerland.
				</p>
				<button mat-button [matMenuTriggerFor]="belowMenu" class="resort mat-display-4">
					<div class="wrapper">
						<span>{{ currentResort }}</span>
						<div class="resort-icon">
							<mat-icon aria-hidden="false">keyboard_arrow_down</mat-icon>
						</div>
					</div>
				</button>
				<mat-menu class="resort-menu" #belowMenu="matMenu" yPosition="below">
					<button
						class="mat-display-4"
						*ngFor="let resort of resortOption"
						(click)="onResortChange(resort)"
						mat-menu-item
					>
						{{ resort }}
					</button>
				</mat-menu>
			</ng-container>

			<ng-container *ngIf="bottomContext === bottomContextTypes.AboutUs">
				<h1 class="mat-headline about-title">{{ 'About us' }}</h1>
				<p>
					Ski Cool St. Moritz, is an elite snowsports school <br />
					of the Engadin Valley, Switzerland.
				</p>
			</ng-container>

			<ng-container *ngIf="bottomContext === bottomContextTypes.OurTeam">
				<h1 class="mat-headline about-title">{{ 'Our team' }}</h1>
			</ng-container>
		</div>
		<div class="not-found" *ngIf="isPageNotFound">
			<span class="title-message">
				{{ 'Oh no, the snow is gone.' }}
			</span>
			<h1 class="header-message">{{ 'Something went' }}</h1>
			<h1 class="header-message">{{ 'wrong ...' }}</h1>
			<button mat-button appButtonConfig [type]="'flat'" class="booking-btn" routerLink="{{ routes.Home }}">
				<span>{{ 'Back to home' }}</span>
			</button>
			<h1 class="not-found-number">{{ '404' }}</h1>
		</div>
	</div>
	<div
		class="contact-btn"
		matTooltip="Contact us"
		(click)="showContactPopup()"
		[ngClass]="{ 'fixed-btn': bottomContext !== bottomContextTypes.Home }"
	>
		<mat-icon class="contact-svg" svgIcon="contact"></mat-icon>
	</div>
	<div *ngIf="!backgroundImg">
		<div (click)="goToPrevious()" class="leftArrow">❯</div>
		<div (click)="goToNext()" class="rightArrow">❮</div>
	</div>
	<div class="dotsContainer" *ngIf="!backgroundImg">
		<div *ngFor="let slide of slides; let slideIndex = index" class="dot" (click)="goToSlide(slideIndex)">●</div>
	</div>
	<div class="empty" *ngIf="!backgroundImg"></div>
</div>
