<div class="slider">
	<mat-icon *ngIf="!isDesktop" aria-label="Example home icon" class="desktop-hide" (click)="toggleDrawer()">
		reorder
	</mat-icon>
	<div class="slider-content">
		<div class="left-content">
			<h1>{{ 'Skicool' }}</h1>
			<p>
				Ski Cool St. Moritz, is an elite snowsports school <br />
				of the Engadin Valley, Switzerland.
			</p>
			<button class="discover-btn" mat-raised-button color="accent" routerLink="{{ routes.Booking }}">
				Discover more
			</button>
		</div>
		<div class="right-content">
			<ng-content></ng-content>
		</div>
	</div>
</div>
