@import 'variables';

.mat-icon {
	height: 54px !important;
	width: 54px !important;
}

.desktop-hide {
	position: fixed;
	left: 45px;
	top: 20px;
}

.slider {
	background-image: url('/assets/img/main-background.jpg');
	height: 800px;
	background-size: cover;
	background-position: center;
	opacity: 0.9;

	.slider-content {
		display: flex;
		flex-direction: column;
		height: 680px;
		width: 100%;
		padding: 0 100px;

		.top-content {
			display: flex;
			flex-direction: column;
		}

		.bottom-content {
			align-self: flex-start;
			min-width: 580px;
		}

		.discover-btn {
			width: 248px;
			margin-top: 36px;
		}
	}

	.mat-icon {
		font-size: 40px;
		color: $default-background;
		float: right;
		cursor: pointer;
	}

	h1 {
		text-align: start;
		font-weight: 600;
		font-size: 120px;
		color: $default-background;
	}

	p {
		color: $default-background;
		font-weight: 600;
		font-size: 24px;
		line-height: 38px;
		letter-spacing: 0.005em;
	}
}

.marginTop {
	margin-top: 100px;
}
