.mat-icon {
	color: var(--primary);
	height: auto !important;
	width: auto !important;
	font-size: 66px;
}

.desktop-hide {
	position: fixed;
	left: 15px;
	top: 20px;
}

.slider {
	background-image: url('/assets/img/main-background.jpg');
	height: 600px;
	background-size: cover;
	background-position: center;
	opacity: 0.9;

	.slider-content {
		display: flex;
		justify-content: space-between;
		height: 680px;
		width: 100%;
		padding: 0 100px;

		.left-content {
			align-self: center;
		}

		.discover-btn {
			width: 248px;
			margin-top: 36px;
		}
	}

	.mat-icon {
		font-size: 40px;
		color: #fff;
		float: right;
		cursor: pointer;
	}

	h1 {
		text-align: start;
		font-weight: 600;
		font-size: 120px;
		color: #fff;
	}

	p {
		color: #fff;
		font-weight: 600;
		font-size: 24px;
		line-height: 38px;
		letter-spacing: 0.005em;
		margin-top: 30px;
	}
}

@media (max-width: 768px) {
	.desktop-hide {
		display: block !important;
	}

	.silder h1 {
		font-size: 36px;
	}
}
