$primary: #1a1a1a;
$secondary: #19273f;
$success: #95c602;
$danger: #ff1717;
$yellow: #f2b619;
$light: #fff;
$dark: #000;
$grey: #3c3d44;

$black-text: #333333;

$default-background-image: #c2c7cb;

$primary-font: 'Martel';
$secondary-font: 'Playfair Display';
$third-font: 'Nunito Sans';

// primary
$background-default: #5b779a;
$background-hover-active: #375a84;
$background-click: #143d6e;
$background-disabled: #f5f5f5;
$default-background: #fcfcfc;
$text-disabled: #7e94af;
$text-color-blue: #d4e0f9;

//secondary
$background-hover-2: #f5f5f5;
$stroke-default-2: #486d9c;
$stroke-hover-2: #375a84;
$text-default-2: #486d9c;
$text-hover-2: #375a84;
$text-disabled-2: #7e94af;

// tertiary
$background-hover-3: #f5f5f5;
$background-click-3: #eae7ff;
$text-default-3: #486d9c;
$text-hover-3: #375a84;
$text-disabled-3: #7e94af;

//flat button
$flat-dark-background: #2b385b;
$flat-light-background: #a7baed;
