/* You can add global styles to this file, and also import other style files */
@import './shared/global';
@import './shared//animations';
@import './shared/animations';
@import './variables';
@import './mat-theme/mat_core';
@import './mat-theme/mat_override';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* You can add global styles to this file, and also import other style files */

$primary: #1a1a1a;

* {
	font-family: 'Nunito Sans';
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: #f0f3f5;
}
