/* You can add global styles to this file, and also import other style files */
@import './shared/global';
@import './shared//animations';
@import './shared/animations';
@import './variables';
@import './mat-theme/mat_core';
@import './mat-theme/mat_override';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* You can add global styles to this file, and also import other style files */

$primary: #1a1a1a;

* {
	font-family: 'Nunito Sans';
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: #f0f3f5;
}

.item {
	// font-size: 1rem;
	// min-width: unset !important;
	// margin: 0;
	// padding: 0 8px !important;
}

.item:not([disabled]) {
	color: rgba(0, 0, 0, 0.54);
}

.item:hover:not([disabled]) {
	color: rgba(0, 0, 0, 0.8);
}

.disabled {
	pointer-events: none;
	color: rgba(0, 0, 0, 0.38) !important;
}

.ui-state-active {
	// border-bottom: 4px solid purple !important;
}

.ui-state-active:before {
	content: '';
	border-bottom: 3px solid purple;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.ui-state-active-sub {
	color: purple;
}
