<div class="private-booking-wrapper">
	<span class="annotation">{{ 'FillForm' | translate }}</span>
	<div class="form-container">
		<form [formGroup]="privateBookingForm" (ngSubmit)="onSubmit()" class="private-form">
			<p class="double-field">
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.FirstName' | translate }}</mat-label>
					<input matInput formControlName="firstName" />
					<mat-error *ngIf="checkError('firstName', 'required')">{{
						'FormFields.FirstRequired' | translate
					}}</mat-error>
					<mat-error *ngIf="checkError('firstName', 'maxlength')">{{
						'FormFields.FirstNameLength' | translate: { value: '30' }
					}}</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.LastName' | translate }}</mat-label>
					<input matInput formControlName="lastName" />
					<mat-error *ngIf="checkError('lastName', 'required')">{{ 'FormFields.LastRequired' | translate }}</mat-error>
					<mat-error *ngIf="checkError('lastName', 'maxlength')">{{
						'FormFields.LastNameLength' | translate: { value: '30' }
					}}</mat-error>
				</mat-form-field>
			</p>

			<p>
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>{{ 'FormFields.Email' | translate }}</mat-label>
					<input matInput type="email" name="email" ngModel email formControlName="email" />
					<mat-error *ngIf="checkError('email', 'required')">{{ 'FormFields.EmailRequired' | translate }}</mat-error>
					<mat-error *ngIf="privateBookingForm.get('email')?.hasError('email')">{{
						'FormFields.EmailValid' | translate
					}}</mat-error>
					<mat-error *ngIf="checkError('email', 'maxlength')">{{
						'FormFields.EmailLength' | translate: { value: '100' }
					}}</mat-error>
				</mat-form-field>
			</p>

			<p>
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>{{ 'FormFields.PhoneNumber' | translate }}</mat-label>
					<ngx-mat-intl-tel-input
						formControlName="phoneNumber"
						[preferredCountries]="['de', 'us']"
						[enablePlaceholder]="true"
						[enableSearch]="true"
						name="phone"
						#phone
					>
					</ngx-mat-intl-tel-input>
					<mat-hint>{{ 'FormFields.eg' | translate }} {{ phone.selectedCountry?.placeHolder }}</mat-hint>
					<mat-error *ngIf="checkError('phoneNumber', 'required')">{{
						'FormFields.PhoneNumberRequired' | translate
					}}</mat-error>
					<mat-error
						*ngIf="
							privateBookingForm.controls['phoneNumber'].touched && privateBookingForm.controls['phoneNumber'].invalid
						"
						>{{ 'FormFields.PhoneNumberValid' | translate }}</mat-error
					>
				</mat-form-field>
			</p>

			<p class="double-field">
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.Language' | translate }}</mat-label>
					<mat-select formControlName="language">
						<mat-option *ngFor="let lang of languages" [value]="lang">{{ lang | translate }}</mat-option>
					</mat-select>
					<mat-error *ngIf="checkError('language', 'required')">{{
						'FormFields.LanguageRequired' | translate
					}}</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" class="half-width">
					<mat-label>{{ 'FormFields.Resort' | translate }}</mat-label>
					<mat-select formControlName="resort">
						<mat-option *ngFor="let resort of resorts" [value]="resort">{{ resort }}</mat-option>
					</mat-select>
					<mat-error *ngIf="checkError('resort', 'required')">{{ 'FormFields.ResortRequired' | translate }}</mat-error>
				</mat-form-field>
			</p>

			<p>
				<mat-form-field appearance="outline" class="full-width datepicker">
					<mat-label>{{ 'FormFields.Dates' | translate }}</mat-label>
					<mat-date-range-input [formGroup]="privateBookingForm" [rangePicker]="picker">
						<input matStartDate formControlName="startDate" placeholder="Start date" />
						<input matEndDate formControlName="endDate" placeholder="End date" />
					</mat-date-range-input>
					<mat-hint>{{ 'FormFields.DateFormat' | translate }}</mat-hint>
					<mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
					<mat-date-range-picker #picker></mat-date-range-picker>

					<mat-error *ngIf="checkError('startDate', 'required')">{{
						'FormFields.StartDateRequired' | translate
					}}</mat-error>
					<mat-error *ngIf="checkError('endDate', 'required')">{{
						'FormFields.EndDateRequired' | translate
					}}</mat-error>
					<mat-error *ngIf="privateBookingForm.controls.startDate.hasError('matStartDateInvalid')">{{
						'FormFields.InvalidStartDate' | translate
					}}</mat-error>
					<mat-error *ngIf="privateBookingForm.controls.endDate.hasError('matEndDateInvalid')">{{
						'FormFields.InvalidEndDate' | translate
					}}</mat-error>
				</mat-form-field>
			</p>

			<div class="button-wrapper">
				<button mat-flat-button class="book-btn" appButtonConfig [type]="'flat'" [disabled]="!privateBookingForm.valid">
					<span>{{ 'OrderCall' | translate | uppercase }}</span>
					<mat-icon aria-hidden="true" class="booking-svg" svgIcon="booking"></mat-icon>
				</button>
			</div>
		</form>
	</div>
</div>
