<app-layout>
	<mat-drawer-container class="layout-wrapper">
		<mat-drawer #drawer [mode]="isShowHideFlag">
			<app-sidenav-menu [menuItems]="menuItems" (drawerClick)="onDrawerClick()"></app-sidenav-menu>
		</mat-drawer>

		<mat-drawer-content>
			<nav *ngIf="isDesktopView$ | async" class="nav">
				<img alt="Logo" src="assets/svg/Logo.svg" />
				<div
					style="
						flex: 1;
						display: flex;
						justify-content: flex-end;
						margin: 0 15px;
						overflow: hidden;
						align-self: stretch;
					"
				>
					<app-nav-tab [menuItems]="menuItems" [moreMenuItem]="{ styleClass: 'item', icon: 'keyboard_arrow_down' }">
					</app-nav-tab>
				</div>

				<button mat-button class="booking-btn" routerLink="{{ routes.Booking }}">
					<span>Book now</span>
					<mat-icon class="booking-svg" svgIcon="booking"></mat-icon>
				</button>
			</nav>

			<app-nav-slider [isDesktop]="isDesktopView$ | async" (drawerClick)="onDrawerClick()">
				<button mat-button [matMenuTriggerFor]="belowMenu" class="lang">
					{{ currentLang.slice(0, 2) | uppercase }}
					<mat-icon aria-hidden="false">keyboard_arrow_down</mat-icon>
				</button>
				<mat-menu class="lang-menu" #belowMenu="matMenu" yPosition="below">
					<button *ngFor="let lang of availableLang" (click)="onLanguageChange(lang)" mat-menu-item>
						{{ lang.slice(0, 2) | uppercase }}
					</button>
				</mat-menu>
			</app-nav-slider>
			<router-outlet></router-outlet>
			<app-footer></app-footer>
		</mat-drawer-content>
	</mat-drawer-container>
</app-layout>

<ngx-loading-bar [includeSpinner]="false" color="red"></ngx-loading-bar>
