<app-layout>
	<mat-drawer-container class="layout-wrapper">
		<mat-drawer #drawer [mode]="isShowHideFlag">
			<app-sidenav-menu [menuItems]="menuItems" (drawerClick)="onDrawerClick()"></app-sidenav-menu>
		</mat-drawer>

		<mat-drawer-content>
			<button mat-button appButtonConfig [type]="'transparent'" class="booking-btn" routerLink="{{ routes.Booking }}">
				<span>{{ 'Book now' }}</span>
				<mat-icon aria-hidden="true" class="booking-svg blue" svgIcon="booking"></mat-icon>
			</button>
			<app-nav-slider
				[isDesktop]="isDesktopView$ | async"
				[isNavTabVisible]="navTabVisibility"
				[isPageNotFound]="isPageNotFound"
				(drawerClick)="onDrawerClick()"
			>
				<app-nav-tab
					*ngIf="isDesktopView$ | async"
					(isNavTabVisible)="onNavTabVisibilityChange($event)"
					[menuItems]="menuItems"
					[moreMenuItem]="{ styleClass: 'mat-display-1', icon: 'keyboard_arrow_down' }"
				>
				</app-nav-tab>
				<button mat-button [matMenuTriggerFor]="belowMenu" class="lang mat-display-4">
					{{ currentLang.slice(0, 2) | uppercase }}
					<mat-icon aria-hidden="false">keyboard_arrow_down</mat-icon>
				</button>
				<mat-menu class="lang-menu" #belowMenu="matMenu" yPosition="below">
					<button
						class="mat-display-4"
						*ngFor="let lang of availableLang"
						(click)="onLanguageChange(lang)"
						mat-menu-item
					>
						{{ lang.slice(0, 2) | uppercase }}
					</button>
				</mat-menu>
			</app-nav-slider>
			<router-outlet></router-outlet>
			<app-footer *ngIf="!isPageNotFound"></app-footer>
		</mat-drawer-content>
	</mat-drawer-container>
</app-layout>

<ngx-loading-bar [includeSpinner]="false" color="red"></ngx-loading-bar>
