<div class="footer-wrapper" color="primary">
	<hr class="line" />
	<div class="content">
		<div class="top-content">
			<img class="logo" alt="Logo" src="assets/svg/Logo.svg" />
			<div class="column mat-display-4">
				<a class="link" routerLink="{{ routes.AboutUs }}">
					<span>{{ 'About us' }}</span>
				</a>
				<a class="link" routerLink="{{ routes.PrivateLesson }}">
					<span>{{ 'Private lessons' }}</span>
				</a>
				<a class="link" routerLink="{{ routes.GroupLesson }}">
					<span>{{ 'Group lessons' }}</span>
				</a>
				<a class="link" routerLink="{{ routes.Recreation }}">
					<span>{{ 'Individual recreation' }}</span>
				</a>
			</div>
			<div class="column mat-display-4">
				<a class="link" routerLink="{{ routes.AboutUs }}">
					<span>{{ 'Our team' }}</span>
				</a>
				<a class="link" routerLink="{{ routes.PrivateLesson }}">
					<span>{{ 'Become a part of our team' }}</span>
				</a>
				<a class="link" routerLink="{{ routes.GroupLesson }}">
					<span>{{ 'Our partners' }}</span>
				</a>
				<a class="link" routerLink="{{ routes.Reviews }}">
					<span>{{ 'Reviews' }}</span>
				</a>
				<a class="link" routerLink="{{ routes.Contact }}">
					<span>{{ 'Contact us' }}</span>
				</a>
			</div>
			<div class="column mat-display-4">
				<div class="info">
					Silvaplana-Surlej,<br />
					Via Sturetscha 13,<br />
					CH 7513, Switzerland<br />
				</div>
				<div class="info">
					{{ 'Email' }}: <a class="mat-display-4" href="mailto:info@skicool.ch">info@skicool.ch</a>
				</div>
				<div class="info">{{ 'Phone' }}: <a class="mat-display-4" href="tel:+41(0)799152989">+41 (0) 799152989</a></div>
			</div>
			<div class="column mat-display-4 contact">
				<button mat-button appButtonConfig [type]="'stroked'" class="contact-btn" routerLink="{{ routes.Booking }}">
					<span>{{ 'Contact Us' }}</span>
					<mat-icon class="booking-svg" svgIcon="booking"></mat-icon>
				</button>
				<div class="icon-block">
					<mat-icon class="contact-svg" svgIcon="facebook"></mat-icon>
					<mat-icon class="contact-svg" svgIcon="twitter"></mat-icon>
					<mat-icon class="contact-svg" svgIcon="instagram"></mat-icon>
				</div>
			</div>
		</div>
		<div class="bottom-content">
			<span class="condition mat-display-4">
				{{ 'Copyright @ 2022 Ski Cool. All rights reserved.' }}
				<a class="active-link mat-display-4" routerLink="{{ routes.Contact }}">{{ 'Term and Conditions' }}</a>
			</span>
			<a class="active-link mat-display-4" routerLink="{{ routes.Contact }}">{{ 'Privacy Policy' }}</a>
		</div>
	</div>
</div>
