@import 'variables';

.footer-wrapper {
	height: 468px;
	padding: 0 100px 60px 100px;

	.line {
		margin-bottom: 76px;
		margin-top: 10px;
		width: 100%;
		border: 0;
		height: 1px;
		background: black;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: calc(100% - 100px);

		.top-content {
			display: flex;
			gap: 20px;
			align-content: flex-start;
			justify-content: space-between;

			.logo {
				align-self: flex-start;
			}

			.column {
				display: flex;
				flex-direction: column;
			}

			.contact-btn {
				border: 1px solid black;
				width: 200px;
				color: white;
				background-color: #486d9c;
				font-size: 18px;
			}

			.contact {
				display: flex;
				flex-direction: column;
			}

			.icon-block {
				display: flex;
				gap: 10px;
				justify-content: flex-end;
				margin-top: 15px;
			}
		}
	}

	.bottom-content {
		display: flex;
		justify-content: space-between;

		.condition {
			font-weight: 400;
			font-size: 17px;
			line-height: 22px;
			letter-spacing: 0.008em;
			color: #333333;
		}

		.active-link {
			font-weight: 400;
			font-size: 17px;
			line-height: 22px;
			letter-spacing: 0.008em;
			color: #5b779a;
		}
	}

	.link,
	.info,
	.info a {
		font-weight: 400;
		font-size: 17px;
		line-height: 27px;
		color: #333333;
		margin-bottom: 10px;
		text-decoration: none;
	}

	.link:hover {
		border-bottom: 2px solid #333333;
	}
}
