@import 'variables';

.footer-wrapper {
	padding: 60 0px 60px 0px;

	.partners {
		padding: 0 100px 50px 100px;
	}

	.line {
		margin-bottom: 76px;
		margin-top: 10px;
		width: 100%;
		border: 0;
		height: 1px;
		background: black;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: calc(100% - 100px);

		.top-content {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			align-content: flex-end;
			justify-content: space-between;

			.logo {
				align-self: flex-start;
			}

			.column {
				text-align: right;
				color: $default-background;
				display: flex;
				flex-direction: column;
				min-width: 200px;
			}

			.contact {
				display: flex;
				flex-direction: column;
			}

			.icon-block {
				display: flex;
				gap: 10px;
				justify-content: flex-end;
				margin-top: 15px;
			}
		}
	}

	.bottom-content {
		display: flex;
		justify-content: space-between;
		gap: 50px;

		.condition {
			letter-spacing: 0.008em;
			color: $black-text;
		}

		.active-link {
			color: $background-default;
		}
	}

	.link,
	.info,
	.info a {
		color: $black-text;
		margin-bottom: 10px;
		text-decoration: none;
	}

	.link span:hover {
		border-bottom: 2px solid $black-text;
	}
}

.contact-btn {
	width: 220px;
}
