<div mat-dialog-content>
	<div *ngIf="data.type === types.GroupBooking" class="group-wrapper">
		<div class="name">{{ data.name }}</div>
		<div class="title">{{ data.title | translate }}</div>
		<div class="description">{{ data.description | translate }}</div>
	</div>
	<div *ngIf="data.type === types.FeedbackThank" class="thank-wrapper">
		<div class="text">
			{{ 'FeedbackThankForm.ThankForPayment' | translate }}
		</div>
		<button
			mat-flat-button
			class="thank-btn"
			appButtonConfig
			[type]="'flat'"
			routerLink="{{ routes.Home }}"
			(click)="closePopup()"
		>
			{{ 'FeedbackThankForm.GoHome' | translate }}
		</button>
	</div>
	<div *ngIf="data.type === types.PricePrivateLesson" class="thank-wrapper">
		<div class="text">
			{{ 'PriceListAwait' | translate }}
		</div>
	</div>
	<div *ngIf="data.type === types.BookingConfirmation" class="thank-booking-wrapper">
		<div class="text">
			{{ 'BookingConfirmationForm.ThankForPayment' | translate }}
		</div>
		<button
			mat-flat-button
			class="thank-btn"
			appButtonConfig
			[type]="'flat'"
			routerLink="{{ routes.Home }}"
			(click)="closePopup()"
		>
			{{ 'BookingConfirmationForm.GoHome' | translate }}
		</button>
	</div>
	<div *ngIf="data.type === types.Person" class="person-wrapper">
		<div class="close" (click)="closePopup()">&times;</div>
		<div class="name">{{ data.name }}</div>
		<div class="description">{{ data.description | translate }}</div>
	</div>
	<div *ngIf="data.type === types.FeedbackMore" class="person-wrapper">
		<div class="close" (click)="closePopup()">&times;</div>
		<div class="name">{{ data.name }}</div>
		<div class="title">{{ data.title | translate }}</div>
		<div class="description">{{ data.description | translate }}</div>
	</div>
	<div *ngIf="data.type === types.Feedback" class="feedback-wrapper">
		<div class="close" (click)="closePopup()">&times;</div>
		<span class="feedback-title">{{ 'FormFields.BookingLink' | translate }}</span>
		<div class="form-container">
			<form [formGroup]="feedbackForm" (ngSubmit)="onSubmitFeedback()" class="group-form">
				<p class="double-field">
					<mat-form-field appearance="outline" class="half-width">
						<mat-label>{{ 'FormFields.FirstName' | translate }}</mat-label>
						<input matInput formControlName="firstNameFeedback" />
						<mat-error *ngIf="checkError(feedbackForm, 'firstNameFeedback', 'required')">{{
							'FormFields.FirstRequired' | translate
						}}</mat-error>
						<mat-error *ngIf="checkError(feedbackForm, 'firstNameFeedback', 'maxlength')">{{
							'FormFields.FirstNameLength' | translate: { value: '30' }
						}}</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline" class="half-width">
						<mat-label>{{ 'FormFields.LastName' | translate }}</mat-label>
						<input matInput formControlName="lastNameFeedback" />
						<mat-error *ngIf="checkError(feedbackForm, 'lastNameFeedback', 'required')">{{
							'FormFields.LastRequired' | translate
						}}</mat-error>
						<mat-error *ngIf="checkError(feedbackForm, 'lastNameFeedback', 'maxlength')">{{
							'FormFields.LastNameLength' | translate: { value: '30' }
						}}</mat-error>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>{{ 'FormFields.Email' | translate }}</mat-label>
						<input matInput type="email" name="email" ngModel email formControlName="emailFeedback" />
						<mat-error *ngIf="checkError(feedbackForm, 'emailFeedback', 'required')">{{
							'FormFields.EmailRequired' | translate
						}}</mat-error>
						<mat-error *ngIf="feedbackForm.get('emailFeedback')?.hasError('email')">{{
							'FormFields.EmailValid' | translate
						}}</mat-error>
						<mat-error *ngIf="checkError(feedbackForm, 'emailFeedback', 'maxlength')">{{
							'FormFields.EmailLength' | translate: { value: '100' }
						}}</mat-error>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>{{ 'FormFields.PhoneNumber' | translate }}</mat-label>
						<ngx-mat-intl-tel-input
							formControlName="phoneNumberFeedback"
							[preferredCountries]="['de', 'us']"
							[enablePlaceholder]="true"
							[enableSearch]="true"
							name="phone"
							#phone
						>
						</ngx-mat-intl-tel-input>
						<mat-hint>{{ 'FormFields.eg' | translate }} {{ phone.selectedCountry?.placeHolder }}</mat-hint>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>{{ 'FormFields.EnterLink' | translate }}</mat-label>
						<input matInput formControlName="inviteLink" />
						<mat-error *ngIf="checkError(feedbackForm, 'inviteLink', 'required')">{{
							'FormFields.LinkRequired' | translate
						}}</mat-error>
					</mat-form-field>
				</p>

				<div class="image-attache-section">
					<div class="image-attache">
						<div class="drop-zone" appFileDragDrop (filesChangeEmitter)="onFileChange($event)">
							<div class="text-wrapper">
								<div class="centered">
									<input type="file" name="file" id="file" (change)="onFileChange($event)" multiple />
									<mat-icon aria-hidden="true" class="file-svg" fontIcon="file_present"></mat-icon>
									<label class="file-lable" for="file">
										<span class="textLink">{{ 'FormFields.SelectFile' | translate }}</span>
									</label>
								</div>
							</div>
						</div>
					</div>

					<ng-container *ngFor="let file of files; let ind = index">
						<div class="fileItem" (click)="deleteFromArray(ind)">
							<mat-icon
								aria-hidden="true"
								class="booking-svg blue"
								fontIcon="delete_forever"
								(click)="deleteFromArray(ind)"
							></mat-icon>
							<div class="fileItemText">
								<span>{{ file.name }}</span>
							</div>
						</div>
					</ng-container>
				</div>

				<p>
					<mat-form-field appearance="outline" class="full-width text-field">
						<mat-label>{{ 'FormFields.Message' | translate }}</mat-label>
						<textarea matInput formControlName="messageFeedback"></textarea>
						<mat-error *ngIf="checkError(feedbackForm, 'messageFeedback', 'required')">{{
							'FormFields.MessageRequired' | translate
						}}</mat-error>
						<mat-error *ngIf="checkError(feedbackForm, 'messageFeedback', 'maxlength')">{{
							'FormFields.MessageLength' | translate: { value: '500' }
						}}</mat-error>
					</mat-form-field>
				</p>

				<button mat-flat-button class="submit-btn" appButtonConfig [type]="'flat'" [disabled]="!feedbackForm.valid">
					<span>{{ 'Submit' | translate }}</span>
					<mat-icon aria-hidden="true" class="booking-svg" svgIcon="booking"></mat-icon>
				</button>
			</form>
		</div>
	</div>
	<div *ngIf="data.type === types.Contact" class="instructor-wrapper">
		<div class="close" (click)="closePopup()">&times;</div>
		<div class="form-container">
			<form [formGroup]="contactForm" (ngSubmit)="onSubmitContact()" class="group-form">
				<p class="double-field">
					<mat-form-field appearance="outline" class="half-width">
						<mat-label>{{ 'FormFields.FirstName' | translate }}</mat-label>
						<input matInput formControlName="firstName" />
						<mat-error *ngIf="checkError(contactForm, 'firstName', 'required')">{{
							'FormFields.FirstRequired' | translate
						}}</mat-error>
						<mat-error *ngIf="checkError(contactForm, 'firstName', 'maxlength')">{{
							'FormFields.FirstNameLength' | translate: { value: '30' }
						}}</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline" class="half-width">
						<mat-label>{{ 'FormFields.LastName' | translate }}</mat-label>
						<input matInput formControlName="lastName" />
						<mat-error *ngIf="checkError(contactForm, 'lastName', 'required')">{{
							'FormFields.LastRequired' | translate
						}}</mat-error>
						<mat-error *ngIf="checkError(contactForm, 'lastName', 'maxlength')">{{
							'FormFields.LastNameLength' | translate
						}}</mat-error>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>{{ 'FormFields.Email' | translate }}</mat-label>
						<input matInput type="email" name="email" ngModel email formControlName="email" />
						<mat-error *ngIf="checkError(contactForm, 'email', 'required')">{{
							'FormFields.EmailRequired' | translate
						}}</mat-error>
						<mat-error *ngIf="contactForm.get('email')?.hasError('email')">{{
							'FormFields.EmailValid' | translate
						}}</mat-error>
						<mat-error *ngIf="checkError(contactForm, 'email', 'maxlength')">{{
							'FormFields.EmailLength' | translate: { value: '100' }
						}}</mat-error>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>{{ 'FormFields.EmailValid' | translate }}</mat-label>
						<ngx-mat-intl-tel-input
							formControlName="phoneNumber"
							[preferredCountries]="['de', 'us']"
							[enablePlaceholder]="true"
							[enableSearch]="true"
							name="phone"
							#phone
						>
						</ngx-mat-intl-tel-input>
						<mat-hint>{{ 'FormFields.eg' | translate }} {{ phone.selectedCountry?.placeHolder }}</mat-hint>
						<mat-error *ngIf="checkError(contactForm, 'phoneNumber', 'PhoneNumberRequired')">{{
							'FormFields.eg' | translate
						}}</mat-error>
						<mat-error
							*ngIf="contactForm.controls['phoneNumber'].touched && contactForm.controls['phoneNumber'].invalid"
							>{{ 'FormFields.PhoneNumberValid' | translate }}</mat-error
						>
					</mat-form-field>
				</p>

				<p class="double-field">
					<mat-form-field appearance="outline" class="half-width">
						<mat-label>{{ 'FormFields.Language' | translate }}</mat-label>
						<mat-select formControlName="language">
							<mat-option *ngFor="let lang of languages" [value]="lang">{{ lang | translate }}</mat-option>
						</mat-select>
						<mat-error *ngIf="checkError(contactForm, 'language', 'required')">{{
							'FormFields.LanguageRequired' | translate
						}}</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline" class="half-width">
						<mat-label>{{ 'FormFields.NatureOfRequest' | translate }}</mat-label>
						<mat-select formControlName="natureOfRequest">
							<mat-option *ngFor="let nature of natureOfRequest" [value]="nature">{{ nature | translate }}</mat-option>
						</mat-select>
						<mat-error *ngIf="checkError(contactForm, 'natureOfRequest', 'required')">{{
							'FormFields.NatureOfRequestRequired' | translate
						}}</mat-error>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field appearance="outline" class="full-width text-field">
						<mat-label>{{ 'FormFields.RequestAndRequirements' | translate }}</mat-label>
						<textarea matInput formControlName="otherRequirement"></textarea>
						<mat-error *ngIf="checkError(contactForm, 'otherRequirement', 'maxlength')">{{
							'FormFields.RequestAndRequirementsLength' | translate: { value: '500' }
						}}</mat-error>
					</mat-form-field>
				</p>

				<button mat-flat-button class="submit-btn" appButtonConfig [type]="'flat'" [disabled]="!contactForm.valid">
					<span>{{ 'FormFields.Submit' | translate }}</span>
					<mat-icon aria-hidden="true" class="booking-svg" svgIcon="booking"></mat-icon>
				</button>
			</form>
		</div>
	</div>
</div>
