<div mat-dialog-content>
	<div *ngIf="data.type === types.GroupBooking" class="group-wrapper">
		<div class="name">{{ data.name }}</div>
		<div class="title">{{ data.title }}</div>
		<div class="description">{{ data.description }}</div>
	</div>
	<div *ngIf="data.type === types.FeedbackThank" class="thank-wrapper">
		<div class="text">
			{{
				'Thank you for the payment, the booking confirmation will be sent to your email.And if you have any questions, please contact us and we will help you solve them as soon as possible.'
			}}
		</div>
		<button
			mat-flat-button
			class="thank-btn"
			appButtonConfig
			[type]="'flat'"
			routerLink="{{ routes.Home }}"
			(click)="closePopup()"
		>
			{{ 'Go to home' }}
		</button>
	</div>
	<div *ngIf="data.type === types.BookingConfirmation" class="thank-booking-wrapper">
		<div class="text">
			{{
				'Thank you for the payment, the booking confirmation will be sent to your email.And if you have any questions, please contact us and we will help you solve them as soon as possible.'
			}}
		</div>
		<button
			mat-flat-button
			class="thank-btn"
			appButtonConfig
			[type]="'flat'"
			routerLink="{{ routes.Home }}"
			(click)="closePopup()"
		>
			{{ 'Go to home' }}
		</button>
	</div>
	<div *ngIf="data.type === types.Person" class="person-wrapper">
		<div class="close" (click)="closePopup()">&times;</div>
		<div class="name">{{ data.name }}</div>
		<div class="title">{{ data.title }}</div>
		<div class="description">{{ data.description }}</div>
	</div>
	<div *ngIf="data.type === types.Feedback" class="feedback-wrapper">
		<div class="close" (click)="closePopup()">&times;</div>
		<span class="feedback-title">{{
			'After booking, a link will be sent to your email, it must be entered in the input field to be able to leave a review'
		}}</span>
		<div class="form-container">
			<form [formGroup]="feedbackForm" (ngSubmit)="onSubmitFeedback()" class="group-form">
				<p class="double-field">
					<mat-form-field appearance="outline" class="half-width">
						<mat-label>First name</mat-label>
						<input matInput formControlName="firstNameFeedback" />
						<mat-error *ngIf="checkError(feedbackForm, 'firstNameFeedback', 'required')"
							>First name is required</mat-error
						>
						<mat-error *ngIf="checkError(feedbackForm, 'firstNameFeedback', 'maxlength')"
							>First name should be less than 100 characters</mat-error
						>
					</mat-form-field>
					<mat-form-field appearance="outline" class="half-width">
						<mat-label>Last name</mat-label>
						<input matInput formControlName="lastNameFeedback" />
						<mat-error *ngIf="checkError(feedbackForm, 'lastNameFeedback', 'required')"
							>Last name is required</mat-error
						>
						<mat-error *ngIf="checkError(feedbackForm, 'lastNameFeedback', 'maxlength')"
							>Last name should be less than 100 characters</mat-error
						>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Email</mat-label>
						<input matInput type="email" name="email" ngModel email formControlName="emailFeedback" />
						<mat-error *ngIf="checkError(feedbackForm, 'emailFeedback', 'required')">Email is required</mat-error>
						<mat-error *ngIf="feedbackForm.get('emailFeedback')?.hasError('email')"
							>Please enter a valid email address</mat-error
						>
						<mat-error *ngIf="checkError(feedbackForm, 'emailFeedback', 'maxlength')"
							>Email should be less than 200 characters</mat-error
						>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Phone number</mat-label>
						<ngx-mat-intl-tel-input
							formControlName="phoneNumberFeedback"
							[preferredCountries]="['de', 'us']"
							[enablePlaceholder]="true"
							[enableSearch]="true"
							name="phone"
							#phone
						>
						</ngx-mat-intl-tel-input>
						<mat-hint>eg : {{ phone.selectedCountry?.placeHolder }}</mat-hint>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Enter the link</mat-label>
						<input matInput formControlName="inviteLink" />
						<mat-error *ngIf="checkError(feedbackForm, 'inviteLink', 'required')">Link is required</mat-error>
					</mat-form-field>
				</p>

				<div class="image-attache-section">
					<div class="image-attache">
						<div class="drop-zone" appFileDragDrop (filesChangeEmitter)="onFileChange($event)">
							<div class="text-wrapper">
								<div class="centered">
									<input type="file" name="file" id="file" (change)="onFileChange($event)" multiple />
									<mat-icon aria-hidden="true" class="file-svg" fontIcon="file_present"></mat-icon>
									<label class="file-lable" for="file">
										<span class="textLink">Select your file</span>
									</label>
								</div>
							</div>
						</div>
					</div>

					<ng-container *ngFor="let file of files; let ind = index">
						<div class="fileItem" (click)="deleteFromArray(ind)">
							<mat-icon
								aria-hidden="true"
								class="booking-svg blue"
								fontIcon="delete_forever"
								(click)="deleteFromArray(ind)"
							></mat-icon>
							<div class="fileItemText">
								<span>{{ file.name }}</span>
							</div>
						</div>
					</ng-container>
				</div>

				<p>
					<mat-form-field appearance="outline" class="full-width text-field">
						<mat-label>Message</mat-label>
						<textarea matInput formControlName="messageFeedback"></textarea>
						<mat-error *ngIf="checkError(feedbackForm, 'messageFeedback', 'required')">Message is required</mat-error>
						<mat-error *ngIf="checkError(feedbackForm, 'messageFeedback', 'maxlength')"
							>Message should be less than 500 characters</mat-error
						>
					</mat-form-field>
				</p>

				<button mat-flat-button class="submit-btn" appButtonConfig [type]="'flat'" [disabled]="!feedbackForm.valid">
					Submit
				</button>
			</form>
		</div>
	</div>
	<div *ngIf="data.type === types.Contact" class="instructor-wrapper">
		<div class="close" (click)="closePopup()">&times;</div>
		<span class="annotation">{{ 'Form Contact us' }}</span>
		<div class="form-container">
			<form [formGroup]="contactForm" (ngSubmit)="onSubmitContact()" class="group-form">
				<p class="double-field">
					<mat-form-field appearance="outline" class="half-width">
						<mat-label>First name</mat-label>
						<input matInput formControlName="firstName" />
						<mat-error *ngIf="checkError(contactForm, 'firstName', 'required')">First name is required</mat-error>
						<mat-error *ngIf="checkError(contactForm, 'firstName', 'maxlength')"
							>First name should be less than 100 characters</mat-error
						>
					</mat-form-field>
					<mat-form-field appearance="outline" class="half-width">
						<mat-label>Last name</mat-label>
						<input matInput formControlName="lastName" />
						<mat-error *ngIf="checkError(contactForm, 'lastName', 'required')">Last name is required</mat-error>
						<mat-error *ngIf="checkError(contactForm, 'lastName', 'maxlength')"
							>Last name should be less than 100 characters</mat-error
						>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Email</mat-label>
						<input matInput type="email" name="email" ngModel email formControlName="email" />
						<mat-error *ngIf="checkError(contactForm, 'email', 'required')">Email is required</mat-error>
						<mat-error *ngIf="contactForm.get('email')?.hasError('email')"
							>Please enter a valid email address</mat-error
						>
						<mat-error *ngIf="checkError(contactForm, 'email', 'maxlength')"
							>Email should be less than 200 characters</mat-error
						>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Phone number</mat-label>
						<ngx-mat-intl-tel-input
							formControlName="phoneNumber"
							[preferredCountries]="['de', 'us']"
							[enablePlaceholder]="true"
							[enableSearch]="true"
							name="phone"
							#phone
						>
						</ngx-mat-intl-tel-input>
						<mat-hint>eg : {{ phone.selectedCountry?.placeHolder }}</mat-hint>
						<mat-error *ngIf="checkError(contactForm, 'phoneNumber', 'required')">Phone number is required</mat-error>
						<mat-error
							*ngIf="contactForm.controls['phoneNumber'].touched && contactForm.controls['phoneNumber'].invalid"
							>Please enter a valid phone number</mat-error
						>
					</mat-form-field>
				</p>

				<p class="double-field">
					<mat-form-field appearance="outline" class="half-width">
						<mat-label>Language</mat-label>
						<mat-select formControlName="language">
							<mat-option *ngFor="let lang of languages" [value]="lang">{{ lang }}</mat-option>
						</mat-select>
						<mat-error *ngIf="checkError(contactForm, 'language', 'required')">Language is required</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline" class="half-width">
						<mat-label>Nature of the request</mat-label>
						<mat-select formControlName="natureOfRequest">
							<mat-option *ngFor="let nature of natureOfRequest" [value]="nature">{{ nature }}</mat-option>
						</mat-select>
						<mat-error *ngIf="checkError(contactForm, 'natureOfRequest', 'required')"
							>Nature of the request is required</mat-error
						>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field appearance="outline" class="full-width text-field">
						<mat-label>Request and requirements</mat-label>
						<textarea matInput formControlName="otherRequirement"></textarea>
						<mat-error *ngIf="checkError(contactForm, 'otherRequirement', 'maxlength')"
							>Request and requirements should be less than 500 characters</mat-error
						>
					</mat-form-field>
				</p>

				<button mat-flat-button class="submit-btn" appButtonConfig [type]="'flat'" [disabled]="!contactForm.valid">
					Submit
				</button>
			</form>
		</div>
	</div>
</div>
