@import 'variables';

.article-wrapper {
	height: 620px;
	background: $default-background-image;
	width: 100%;

	.article {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 0 25%;
		text-align: center;
		min-width: 600px;

		.header-text {
			text-transform: uppercase;
			color: $black-text;
			padding-right: 20px;
			white-space: nowrap;
			margin-bottom: 20px;
		}

		.title {
			color: $black-text;
			margin-bottom: 15px;
		}

		.description {
			color: $black-text;
			margin-bottom: 44px;
		}

		.discover-btn {
			width: 248px;
		}
	}
}
