@import 'variables';

.contact-block-wrapper {
	display: flex;
	padding: 100px 170px;
	height: 452px;
	background-image: url('/assets/img/contact-block.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;

	.content-left {
		width: 50%;
		min-width: 250px;
		display: flex;
		flex-direction: column;

		.title {
			color: $text-default-hover;
		}
	}

	.content-right {
		display: flex;
		flex-direction: column;
		width: 50%;
		min-width: 250px;

		.info,
		.info a {
			text-align: right;
			color: $text-default-hover;
			margin-bottom: 30px;
			text-decoration: none;
		}
	}
}

.booking-btn {
	border: 1px solid black;
	margin-top: 42px;
	width: 200px;
	color: white;
	background-color: $text-default-3;
	font-size: 17px;

	.booking-svg {
		height: 18px;
		position: relative;
		bottom: 4px;
		left: 4px;
	}
}
