<div class="contact-block-wrapper">
	<div class="content-left">
		<span class="title">{{ 'Ski Cool St. Moritz Silvaplana-Surlej, Switzerland' }}</span>
		<button mat-button class="booking-btn" routerLink="{{ routes.Booking }}">
			<span>Book now</span>
			<mat-icon class="booking-svg" svgIcon="booking"></mat-icon>
		</button>
	</div>
	<div class="content-right">
		<div class="info email">{{ 'Email' }}: <a href="mailto:info@skicool.ch">info@skicool.ch</a></div>
		<div class="info phone">{{ 'Phone' }}: <a href="tel:+41(0)799152989">+41 (0) 799152989</a></div>
		<div class="info adress">
			Silvaplana-Surlej,<br />
			Via Sturetscha 13, CH 7513, Switzerland<br />
		</div>
		<div class="info bank">
			Bank account: Erste Bank - IBAN: AT19 <br />
			2011 1000 0041 8765 - BIC: GIBAATWW <br />
		</div>
	</div>
</div>
