@import 'variables';

.contact-block-wrapper {
	display: flex;
	padding: 100px 170px;
	height: 452px;
	background-image: url('/assets/img/contact-block.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;

	.content-left {
		width: 50%;
		min-width: 340px;
		display: flex;
		flex-direction: column;

		.title {
			color: $default-background;
			margin-bottom: 50px;
		}
	}

	.content-right {
		display: flex;
		flex-direction: column;
		width: 50%;
		min-width: 250px;

		.info,
		.info a {
			text-align: right;
			color: $default-background;
			margin-bottom: 15px;
			text-decoration: none;
		}
	}
}

.contact-btn {
	width: 220px;
}
